<div class="basic-container">
    <h2>Auteur</h2>
    <mat-card>
        <mat-action-list>
            <button mat-list-item>Nom : {{auteur?.nom}}</button>
            <button mat-list-item>Prenom : {{auteur?.prenom}}</button>
            <button mat-list-item>Email : {{auteur?.email}}</button>
            <button mat-list-item>Téléphone : {{auteur?.telephone}}</button>
            <button mat-list-item>Grade : {{auteur?.grade}}</button>
            <button mat-list-item>Livre : {{auteur?.livres}}</button>
        </mat-action-list>
    </mat-card>
</div>